@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
.background {
    background: url("background.jpg") no-repeat center center fixed;
    background-size: cover;
}
*{
    box-sizing: border-box;   
    font-family: 'Roboto Slab', serif; 
}

.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}


.button{
    border-color: rgb(0, 0, 0);
    border-radius: 15px;
    color:black;
    float: right;
    opacity: 1.0;
    padding:5px;
    margin:3px;
    margin-top: 50px;
    color:black;
    background-color:rgba(255, 255, 255, 0.1);
    
}

p{
    text-shadow: 0px 0px  4px rgba(255,255,255,0.7);
}
ul{
    text-shadow: 0px 0px  4px rgba(255,255,255,0.7);
}
h1 {
    text-shadow: 7px 5px 2px rgba(161, 110, 110, 0.2);
}

h2 {
    text-shadow: 2px 2px 2px rgba(0, 0, 5, 0.3);
    margin-left:0px;
  }
.button:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color:rgba(255, 255, 255,0.7);
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
    
}

.bm{
    margin-bottom: 80px;
}

.eightypercent{
    overflow: hidden;
    position: fixed; 
    top: 0; 
    left:0;
    width: 225px;
    height:225px;
    opacity: 1;
    z-index:1000
}
.eightypercent:hover{
    opacity: 1;
    box-shadow: 0px 0px 60px rgba(0, 0, 0,0.7);
    filter: invert(1);
}
  

p{
    margin-left: 100px;
    margin-right: 100px;
}
.animalpictures{
    display:flex;
    flex: auto;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.drop{
    margin-top:175px;
}


.centre{
    text-align: center;
}

